.input-container {
  flex: 1;
}

.input__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.input {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  background-color: #f9f5e3;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  padding: 13px 16px;

  &::placeholder {
    color: #808080;
  }

  &:focus {
    outline: 2px solid #5b35d5;
  }

  &.error {
    outline: 2px solid #ff5631;
  }

  &__icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__errorMessage {
    position: absolute;
    top: 100%;
    left: 0;
    font-weight: 500;
    font-size: 16px;
    color: #ff5631;
  }
}
