.news {
  margin: 48px 0;
  text-align: center;

  &__title {
    color: #000;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 28px;
  }

  &__text {
    color: #2d3748;
    font-weight: 500;
    font-size: 16px;
  }

  &__slider {
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 48px 2px;
    transition: transform 0.3s ease;
  }

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    img {
      cursor: pointer;
    }
  }
}

.rotate {
  transform: rotate(180deg);
}
